<head>
	<base href="/" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,viewport-fit=cover" />
	<meta name="color-scheme" content="dark light" />
	<meta name="robots" content="follow,index" />
	<meta name="description" content="{{ description | default: pkg.description }}" />
	<meta itemprop="description" content="{{ description | default: pkg.description }}" />
	<meta name="keywords" content="" />
	<meta itemprop="keywords" content="" />
	<meta name="referrer" content="no-referrer"/>
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta itemprop="thumbnailUrl" content="" />
	<!-- Social data -->
	<!-- Facebook | OpenGraph -->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:url" content="{{ page.url }}" />
	<meta property="og:description" content="{{ description | default: pkg.description }}" />
	<meta property="og:keywords" content="" />
	<meta property="og:image" content="" />
	<meta property="og:image:height" content="" />
	<meta property="og:image:width" content="" />
	<!-- /Facebook | OpenGraph -->
	<!-- Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:creator" content="" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:image" content="" />
	<!-- /Twitter -->
	<!-- /Social data -->
	<meta name="msapplication-TileColor" content="#007bff" />
	<meta name="msapplication-config" content="/browserconfig.xml" />
	<meta name="theme-color" content="#007bff" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#007bff" />
	<title itemprop="headline">{{ title }}</title>
	<script type="text/javascript" src="https://cdn.polyfill.io/v3/polyfill.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" defer="" nomodule=""></script>
	<script type="text/javascript" src="https://unpkg.com/@webcomponents/custom-elements@1.4.2/custom-elements.min.js" crossorigin="anonymous" referrerpolicy="no-referrer" integrity="sha384-xyhN4T4+9VPh8uXl6uWjGzsqwNXN9C2tla8b6zSrSqYlMFUoeCdoxiEJU0js+GNE" defer="" nomodule=""></script>
	<!-- <script type="module" src="/js/index.js" referrerpolicy="no-referrer"></script> -->
	<!-- <script src="/js/index.min.js" referrerpolicy="no-referrer" defer=""></script> -->
	{% for script in scripts.production %}
		<script type="{{ script.type | default: 'application/javascript' }}" src="{{ script.src }}" referrerpolicy="{{ script.referrerPolicy }}"></script>
	{% endfor %}
	<link rel="manifest" href="/webapp.webmanifest" />
	<link rel="license" href="/LICENSE" />
	<link rel="icon" href="/img/favicon.svg" type="image/svg+xml" sizes="any" />
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/img/icon-32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/img/icon-16.png" />
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#007bff" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="preload" href="/img/icons.svg" as="image" type="image/svg+xml" />
	<link rel="preconnect" href="https://api.github.com" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preload" href="https://cdn.kernvalley.us/components/github/user.css" as="style" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	{% for style in styles.production %}
		<link rel="stylesheet" href="{{ style.href }}" media="{{ style.media | default: 'all' }}" referrerpolicy="{{ style.referrerPolicy | default: 'no-referrer' }}" />
	{% endfor %}
</head>
